{% extends 'base.html.twig' %}

{% block title %}Idee index{% endblock %}

{% block body %}
    <h1>Idee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdIdee</th>
                <th>TypeIdee</th>
                <th>DescriptionIdee</th>
                <th>ImageIdee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for idee in idees %}
            <tr>
                <td>{{ idee.idIdee }}</td>
                <td>{{ idee.typeIdee }}</td>
                <td>{{ idee.descriptionIdee }}</td>
                <td>{{ idee.imageIdee }}</td>
                <td>
                    <a href="{{ path('app_idee_show', {'idIdee': idee.idIdee}) }}">show</a>
                    <a href="{{ path('app_idee_edit', {'idIdee': idee.idIdee}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_idee_new') }}">Create new</a>
{% endblock %}
