{% extends 'base_front.html.twig' %}

{% block title %}Idee{% endblock %}

{% block body %}
    <h1>Idee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdIdee</th>
                <td>{{ idee.idIdee }}</td>
            </tr>
            <tr>
                <th>TypeIdee</th>
                <td>{{ idee.typeIdee }}</td>
            </tr>
            <tr>
                <th>DescriptionIdee</th>
                <td>{{ idee.descriptionIdee }}</td>
            </tr>
            <tr>
                <th>ImageIdee</th>
                <td>{{ idee.imageIdee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_idee_index') }}">back to list</a>

    <a href="{{ path('app_idee_edit', {'idIdee': idee.idIdee}) }}">edit</a>

    {{ include('idee/_delete_form.html.twig') }}
{% endblock %}
