{% extends 'base.html.twig' %}

{% block title %}Municipaties index{% endblock %}

{% block body %}
    <h1>Municipaties index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_muni</th>
                <th>Adresse_muni</th>
                <th>Etat_muni</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for municipaty in municipaties %}
            <tr>
                <td>{{ municipaty.id }}</td>
                <td>{{ municipaty.nomMuni }}</td>
                <td>{{ municipaty.adresseMuni }}</td>
                <td>{{ municipaty.etatMuni }}</td>
                <td>
                    <a href="{{ path('app_municipaties_show', {'id': municipaty.id}) }}">show</a>
                    <a href="{{ path('app_municipaties_edit', {'id': municipaty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_municipaties_new') }}">Create new</a>
{% endblock %}
