{% extends 'base.html.twig' %}

{% block title %}Municipaties{% endblock %}

{% block body %}
    <h1>Municipaties</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ municipaty.id }}</td>
            </tr>
            <tr>
                <th>Nom_muni</th>
                <td>{{ municipaty.nomMuni }}</td>
            </tr>
            <tr>
                <th>Adresse_muni</th>
                <td>{{ municipaty.adresseMuni }}</td>
            </tr>
            <tr>
                <th>Etat_muni</th>
                <td>{{ municipaty.etatMuni }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_municipaties_index') }}">back to list</a>

    <a href="{{ path('app_municipaties_edit', {'id': municipaty.id}) }}">edit</a>

    {{ include('municipaties/_delete_form.html.twig') }}
{% endblock %}
