{% extends 'base.html.twig' %}

{% block title %}New Dons{% endblock %}

{% block body %}
    <h1>Create new Dons</h1>
    {# dons/_form.html.twig #}

    <form method="post" novalidate>
   {{ form_start(form, {'attr': {'class': 'forms-sample'}}) }}
        <div class="form-group">
            {{ form_label(form.montant_don) }}
            {{ form_widget(form.montant_don, {'attr': {'class': 'form-control'}}) }}
            {% if form.montant_don.vars.errors|length %}
                <div class="error-message">
                    {% for error in form.montant_don.vars.errors %}
                        <span style ="color:red;">{{ error.message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.mail_don) }}
            {{ form_widget(form.mail_don, {'attr': {'class': 'form-control'}}) }}
            {% if form.mail_don.vars.errors|length %}
                <div class="error-message">
                    {% for error in form.mail_don.vars.errors %}
                        <span style ="color:red;">{{ error.message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.CIN_don) }}
            {{ form_widget(form.CIN_don, {'attr': {'class': 'form-control'}}) }}
            {% if form.CIN_don.vars.errors|length %}
                <div class="error-message">
                    {% for error in form.CIN_don.vars.errors %}
                        <span style ="color:red;">{{ error.message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.virement_img) }}
            {{ form_widget(form.virement_img, {'attr': {'class': 'form-control'}}) }}
            {% if form.virement_img.vars.errors|length %}
                <div class="error-message">
                    {% for error in form.virement_img.vars.errors %}
                        <span style ="color:red;">{{ error.message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.compagne) }}
            {{ form_widget(form.compagne, {'attr': {'class': 'form-control'}}) }}
            {% if form.compagne.vars.errors|length %}
                <div class="error-message">
                    {% for error in form.compagne.vars.errors %}
                        <span style ="color:red;">{{ error.message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
    </form>


    <a href="{{ path('app_dons_index') }}">back to list</a>
{% endblock %}
