{% extends 'base.html.twig' %}

{% block title %}Admin/Agents{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cin</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>Rate</th>
                <th>Pwd</th>
                <th>Role</th>
                <th>PosteAg</th>
                <th>IdMuni</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.cin }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.tel }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.rate }}</td>
                <td>{{ utilisateur.pwd }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>{{ utilisateur.posteAg }}</td>
                <td>{{ utilisateur.idMuni }}</td>
                <td>{{ utilisateur.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'cin': utilisateur.cin}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'cin': utilisateur.cin}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
{% endblock %}
