{% extends 'base.html.twig' %}

{% block title %}Bledi compagne dons{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}
{% block body %}
    {% for compagne in compagne_dons %}
        {% if loop.index0 % 3 == 0 %}
            <div class="row mb-3">
        {% endif %}
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ compagne[0].getDescrip() }}</h5>
                    <p class="card-text">Montant Collecté: {{ compagne['totalAmount'] }} DT</p>
                    <p class="card-text">Montant Estimé: {{ compagne[0].getMontantE() }} DT</p>
                    <p class="card-text">Municipalité: {{ compagne[0].getMuni().getNomMuni() }}</p>
                    <p class="card-text">Date Début: {{ compagne[0].getDateD() ? compagne[0].getDateD()|date('Y-m-d') : '' }}</p>
                    <p class="card-text">Date Fin: {{ compagne[0].getDateF() ? compagne[0].getDateF()|date('Y-m-d') : '' }}</p>
                    <a href="{{ path('app_compagnefront_donner', {'id': compagne[0].getId()}) }}" class="btn btn-primary">Donner</a>
                    
                </div>
            </div>
        </div>
        
        {% if (loop.index0 + 1) % 3 == 0 or loop.last %}
            </div>
        {% endif %}
    {% else %}
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">No records found</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
