{% extends 'base.html.twig' %}

{% block title %}Solutions index{% endblock %}

{% block body %}
    <h1>Solutions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdSol</th>
                <th>DescriptionSol</th>
                <th>DatedSol</th>
                <th>DatefSol</th>
                <th>EtatSol</th>
                <th>BudgetSol</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solution in solutions %}
            <tr>
                <td>{{ solution.idSol }}</td>
                <td>{{ solution.descriptionSol }}</td>
                <td>{{ solution.datedSol ? solution.datedSol|date('Y-m-d') : '' }}</td>
                <td>{{ solution.datefSol ? solution.datefSol|date('Y-m-d') : '' }}</td>
                <td>{{ solution.etatSol }}</td>
                <td>{{ solution.budgetSol }}</td>
                <td>
                    <a href="{{ path('app_solutions_show', {'idSol': solution.idSol}) }}">show</a>
                    <a href="{{ path('app_solutions_edit', {'idSol': solution.idSol}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_solutions_new') }}">Create new</a>
{% endblock %}
