{% extends 'base.html.twig' %}

{% block title %}Solutions{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1>Solutions</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>IdSol</th>
                    <td>{{ solution.idSol }}</td>
                </tr>
                <tr>
                    <th>DescriptionSol</th>
                    <td>{{ solution.descriptionSol }}</td>
                </tr>
                <tr>
                    <th>DatedSol</th>
                    <td>{{ solution.datedSol ? solution.datedSol|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>DatefSol</th>
                    <td>{{ solution.datefSol ? solution.datefSol|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>EtatSol</th>
                    <td>{{ solution.etatSol }}</td>
                </tr>
                <tr>
                    <th>BudgetSol</th>
                    <td>{{ solution.budgetSol }}</td>
                </tr>
                </tbody>
            </table>

            <div class="btn-group ml-auto">
                <a href="{{ path('app_solutions_index') }}" class="btn btn-secondary"><span class="mdi mdi-arrow-left"></span></a>

                <a href="{{ path('app_solutions_edit', {'idSol': solution.idSol}) }}" class="btn btn-primary">Edit</a>

                <form action="{{ path('app_solutions_delete', {'idSol': solution.idSol}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
