{% extends 'base.html.twig' %}

{% block title %}Solutions{% endblock %}

{% block body %}
    <h1>Solutions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSol</th>
                <td>{{ solution.idSol }}</td>
            </tr>
            <tr>
                <th>DescriptionSol</th>
                <td>{{ solution.descriptionSol }}</td>
            </tr>
            <tr>
                <th>DatedSol</th>
                <td>{{ solution.datedSol ? solution.datedSol|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DatefSol</th>
                <td>{{ solution.datefSol ? solution.datefSol|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EtatSol</th>
                <td>{{ solution.etatSol }}</td>
            </tr>
            <tr>
                <th>BudgetSol</th>
                <td>{{ solution.budgetSol }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_solutions_index') }}">back to list</a>

    <a href="{{ path('app_solutions_edit', {'idSol': solution.idSol}) }}">edit</a>

    {{ include('solutions/_delete_form.html.twig') }}
{% endblock %}
